.container {
  min-height: 100vh;
  padding: 20px 12px;
  background-color: aliceblue;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.headers {
  display: flex;
  align-items: center;
  justify-content: space-between; /* 両端に要素を配置 */
  padding: 10px 0;
  margin-bottom: 20px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  line-height: 1.2;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-bottom: 2px solid #223f3f;
  transition: color 0.3s ease;
}

.headers:hover {
  color: #007bff;
}

.logout {
  padding: 0.5em 1em;
  font-size: 1em;
  color: white;
  cursor: pointer;
  background-color: #223f3f;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.logout:hover {
  background-color: #1a2f2f;
}

.logout:focus {
  outline: 2px solid #558b8b;
  outline-offset: 2px;
}

@media (width <= 768px) {
  .headers {
    font-size: 1.5em;
    text-align: center;
  }
}

.title {
  padding-top: 40px;
  font-size: 80px;
  font-weight: 900;
  color: transparent;
  text-align: center;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-clip: text;
  background-size: 200% 200%;
  animation: gradient 10s ease infinite;
}
